@font-face {
  font-family: SyncopateB;
  src: url('/Media/fonts/Syncopate-Bold.ttf');
}

@font-face {
  font-family: SyncopateR;
  src: url('/Media/fonts/Syncopate-Regular.ttf');
}

@font-face {
  font-family: Stardom;
  src: url('/Media/fonts/Stardom-Regular.otf');
  font-weight: 100 300 500 700900;
  font-style: normal;
  font-display: swap;
}

