@import "./typography.scss";

$color-primary: #000000;
$color-secondary: #FEF5E4;
$color-tertiary: #CCCCCC;
$color-quaternary: #ACA7AA;

$white: #FFFFFF;

$bg-primary: #FEF5E4;
$bg-secondary: #2D3238;

$ff-primary: SyncopateR;
$ff-secondary: SyncopateB;
$ff-tertiary: Stardom;

