@import '/src/theme/index.scss';

.bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 120vw;
  height: 200vh;
  position: relative;
  top: 0;
  left: -5vw;
  background: linear-gradient(to bottom, $bg-primary 0%, #ECE8E3 10%, #ECE8E3 50%, #2D3238 100%);
}

.mountains {
  position: absolute;
  width: 110vw;
  object-fit: contain;
}

.mountain6 {
  top: -40%;
}

.mountain5 {
  top: -25%;
  z-index: 1;
}

.mountain4 {
  top: -5%;
  z-index: 2;
}

.mountain3 {
  top: -20%;
  z-index: 3;
}

.mountain2 {
  top: 42%;
  z-index: 4;

}

.mountain1 {
  top: 45%;
  z-index: 5;

}