@import '/src/theme/index.scss';

.cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: $white;
  mix-blend-mode: difference;
  border: 1px solid $bg-secondary;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  z-index: 999999;
}

.cursorFollower {
  position: fixed;
  top: 10px;
  left: 10px;
  transform: translate(-25px, -25px);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  user-select: none;
  pointer-events: none;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  background-color: $white;
  mix-blend-mode: difference;
  z-index: 999998;
}